<div>
  <script type="text/javascript">
    const forwardToLitPromotion = () => {
      fetch('/cart.js')
        .then(response => response.json())
        .then(cart => {
          console.log('holy its a cart!', cart)
        })

      window.open(
        // `http://localhost:4000/shopify?shop=${window.Shopify["shop"]}&productId=${window.ShopifyAnalytics?.meta?.product["gid"]}`
        `https://oauth-app.litgateway.com/shopify?shop=${window.Shopify["shop"]}&productId=${window.ShopifyAnalytics?.meta?.product["gid"]}`
        // `https://oauth-app-dev.litgateway.com/shopify?shop=${window.Shopify["shop"]}&productId=${window.ShopifyAnalytics?.meta?.product["gid"]}`
      );
    };
    const checkLoaded = () => console.log('this thing is all loaded')
  </script>
  <script onload='checkLoaded()' src="https://jscdn.litgateway.com/index.web.js"></script>
  {% if product.available == true %}
    {% for tag in product.tags %}
      {% if tag == "lit-discount" %}
        <div id="lit-promotional-container" style="border: 2px solid {{ block.settings.border_color }}"
             onclick="forwardToLitPromotion()">
          <div class="discount-container" style="background: {{ block.settings.background_color }}">
            <p class="redeem-text"
               style="color: {{ block.settings.detail_text_color }}"> {{ block.settings.discount_text }}</p>
            <button id="log-discounts" class="redeem-button" style="color: {{ block.settings.connect_text_color }}">
              Click to connect wallet and view discount
            </button>
          </div>
        </div>
      {% endif %}
      {% if tag == "lit-exclusive" %}
        <div id="lit-promotional-container" style="border: 2px solid {{ block.settings.border_color }}"
             onclick="forwardToLitPromotion()">
          <div class="discount-container" style="background: {{ block.settings.background_color }}">
            <p class="redeem-text"
               style="color: {{ block.settings.detail_text_color }}"> {{ block.settings.exclusive_text }}</p>
            <button id="log-discounts" class="redeem-button" style="color: {{ block.settings.connect_text_color }}">
              Click to connect wallet and check access
            </button>
          </div>
          <script type="text/javascript">
            const productFormButtons = document.getElementsByClassName("product-form__buttons");
            setTimeout(() => {
              if ("{{ tag }}" === 'lit-exclusive') {
                for (let i = 0; i < productFormButtons.length; i++) {
                  productFormButtons[i].remove();
                }
              }
            }, 0)
          </script>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Lit App Block",
  "target": "section",
  "javascript": "lit-promotional.js",
  "stylesheet": "lit-promotional.css",
  "settings": [
    {
      "type": "text",
      "id": "exclusive_text",
      "label": "Text for exclusive offers",
      "default": "This product is token-gated and only available to qualified users."
    },
    {
      "type": "text",
      "id": "discount_text",
      "label": "Text for discount offers",
      "default": "This product qualifies for a token-based discount!"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color",
      "default": "#757575"
    },
    {
      "type": "color",
      "id": "detail_text_color",
      "label": "Detail Text Color",
      "default": "#757575"
    },
    {
      "type": "color",
      "id": "connect_text_color",
      "label": "Connect Text Color",
      "default": "#2c0c72"
    }
  ]
}
{% endschema %}


